/*
FONTS
 */

$text-font: 'OpenSans', sans-serif; // base font for the project
$title-font: 'OpenSansCond', sans-serif; // title font for the project
$main-font: 'Bankir', sans-serif; // main font for the project
$base-font: $text-font; // default font for the project (_reset/base.scss)