/*
LINKS DECORATION
 */

/* DEFAULT links color */
// (_reset/default-text.scss)
$default-link-color: #fff;
$default-link-color-hover: #fff;
$default-link-color-decoration: none;
$default-link-color-decoration-hover: none;
$default-link-transition: $slow-transition;

/* VIEW-TEXT links color */
// (_reset/view-text.scss)
$view-link-color: $black;
$view-link-color-hover: $black-light;
$view-link-color-decoration: $black;
$view-link-color-decoration-hover: none;
$view-link-transition: $default-transition;