/*
MAIN COLORS
*/

$base-bg: #0e0e0e; // BODY background
$purple: #9A8AFF;
$yellow: #FFE379; // rgb (263, 74, 100)

/* LOAD PAGE */
$body-load-bg: $base-bg; // BODY background on load page
$preloader-width: 2rem; // Preloader's size (width and height)
$preloader-default-color: #222; // Preloader's border color
$preloader-active-color: #fff; // Preloader's border color
$preloader-border-width: 2px; // Preloader's border-width

/* MAIN COLORS */
$primary-color: $purple;
$secondary-color: $yellow;



