/*
FONTS LOOP
 */

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansLight.eot');
  src: url('../fonts/OpenSansLight.eot?#iefix') format("embedded-opentype"),
  url('../fonts/OpenSansLight.woff') format("woff"),
  url('../fonts/OpenSansLight.ttf') format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansRegular.eot');
  src: url('../fonts/OpenSansRegular.eot?#iefix') format("embedded-opentype"),
  url('../fonts/OpenSansRegular.woff') format("woff"),
  url('../fonts/OpenSansRegular.ttf') format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansSemiBold.eot');
  src: url('../fonts/OpenSansSemiBold.eot?#iefix') format("embedded-opentype"),
  url('../fonts/OpenSansSemiBold.woff') format("woff"),
  url('../fonts/OpenSansSemiBold.ttf') format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSansCond';
  src: url('../fonts/OpenSansCondensedBold.eot');
  src: url('../fonts/OpenSansCondensedBold.eot?#iefix') format("embedded-opentype"),
  url('../fonts/OpenSansCondensedBold.woff') format("woff"),
  url('../fonts/OpenSansCondensedBold.ttf') format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Bankir';
  src: url('../fonts/Bankir-Retro.eot');
  src: url('../fonts/Bankir-Retro.eot?#iefix') format("embedded-opentype"),
  url('../fonts/Bankir-Retro.woff') format("woff"),
  url('../fonts/Bankir-Retro.ttf') format("truetype");
  font-weight: 400;
}