.view-section {
  position: relative;
  width: 100%;
  order: 2;
  flex-grow: 1;
  z-index: auto;
}
.box-particles {
  height: calc(100vh + 0px);
  border-radius: 50%;
  transform: translateY(-9%) scale(0);
  transition: all 2s ease-in;
  z-index: 1;
  &.is-visible {
    border-radius: 0;
    transform: translateY(-9%) scale(1);
  }
 }
.bg-audio {
  position: absolute;
  top: 0;
  left: -9999px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}
.logo-link {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  font-family: $main-font;
  font-size: 72px;
  text-transform: uppercase;
  transform: translate(-50%, -50%) scale(0);
  transition: $anim-transition;
  z-index: 2;
  @media (max-width: 767px) {
    top: calc(50% - 26px);
    font-size: 40px;
    letter-spacing: 8px;
  }
  &.is-visible {
    transform: translate(-50%, -50%) scale(1);
  }
  &:hover {
    color: $secondary-color;
    .logo-link__span {
      .text-label {
        transform: translateY(-28px);
        @media (max-width: 767px) {
          transform: translateX(-5px);
        }
      }
      .text-hover {
        transform: translateY(0);
        @media (max-width: 767px) {
          transform: none;
        }
      }
    }
  }
  &__span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 14px;
    text-align: center;
    transform: translateY(200%);
    overflow: hidden;
    @media (max-width: 767px) {
      overflow: visible;
      transform: translateY(160%);
    }
    .text-label,
    .text-hover {
      position: absolute;
      top: 0;
      left: 2px;
      display: block;
      width: 100%;
      font-family: $base-font;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      transition: transform .75s ease-in-out;
    }
    .text-label {
      transform: translateY(0);
      letter-spacing: 0.6px;
      @media (max-width: 767px) {
        font-size: 12px;
        letter-spacing: 0;
        transform: translateX(-5px);
      }
    }
    .text-hover {
      transform: translateY(28px);
      letter-spacing: 4.5px;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}
.toggle-volume {
  position: absolute;
  top: 50%;
  left: 30px;
  display: block;
  font-size: 30px;
  z-index: 2;
  transform: translate(-150px, -50%);
  transition: $anim-transition;
  @media (max-width: 1024px) {
    left: 20px;
  }
  @media (max-width: 767px) {
    top: auto;
    bottom: 10px;
    transform: translate(-150px, 0);
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 4px;
    height: 100%;
    border-radius: 2px;
    background: #fff;
    transform: skewX(-45deg) scaleY(0);
    transition: $anim-transition;
  }
  .data-title {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    min-width: 150px;
    padding: 10px 0;
    font-size: 12px;
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease-in-out;
    @media (max-width: 1024px) {
      opacity: 1;
    }
    @media (max-width: 767px) {
      padding: 5px 0;
    }
  }
  &.is-visible {
    transform: translate(0, -50%);
    @media (max-width: 767px) {
      transform: translate(0, 0);
      &.open-feedback {
        transform: translate(0, 90px);
      }
    }
  }
  &:hover,
  &.is-mute {
    color: $secondary-color;
    &::before {
      background: $secondary-color;
      transform: skewX(-45deg) scaleY(1);
    }
    .data-title {
      opacity: 1;
      pointer-events: all;
    }
  }
}
.toggle-feedback {
  position: absolute;
  top: 50%;
  right: 30px;
  display: block;
  font-size: 30px;
  z-index: 2;
  transform: translate(150px, -50%);
  transition: $anim-transition;
  @media (max-width: 1024px) {
    right: 20px;
  }
  @media (max-width: 767px) {
    top: auto;
    bottom: 10px;
  }
  .feedback-tooltip {
    position: absolute;
    top: -15px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 30px;
    padding: 0 15px;
    border-radius: 20px;
    background: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: $black;
    transform: translate(50%, -100%) scaleX(0);
    transition: $slow-transition;
    z-index: 2;
    pointer-events: none;
    &.is-active {
      transform: translate(0, -100%) scaleX(1);
      &::before {
        transition-delay: .2s;
        transform: translateY(100%);
      }
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 15px;
      display: block;
      width: 10px;
      height: 10px;
      border: 5px solid transparent;
      border-top: 5px solid #fff;
      transform: translateY(0);
      transition: $slow-transition;
      transition-delay: 0s;
    }
  }
  .data-title {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    min-width: 150px;
    padding: 10px 0;
    font-size: 12px;
    text-align: right;
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease-in-out;
    @media (max-width: 1024px) {
      opacity: 1;
    }
    @media (max-width: 767px) {
      padding: 5px 0;
    }
  }
  &.is-visible {
    transform: translate(0, -50%);
    @media (max-width: 767px) {
      transform: translate(0, 0);
      &.open-feedback {
        transform: translate(0, 90px);
      }
    }
  }
  &:hover,
  &.is-active {
    color: $secondary-color;
    .data-title {
      opacity: 1;
      pointer-events: all;
    }
  }
}
.view-box {
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  padding: 20px 0;
  background: transparent;
  opacity: 0;
  z-index: auto;
  pointer-events: none;
  transition: 0s;
  transition-delay: 2s;
  overflow: hidden;
  @media (max-width: 1024px) {
    top: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
  }
  &__content {
    position: relative;
    height: 100%;
    max-height: calc(100vh - 40px);
    padding: 0 20px;
    opacity: 0;
    z-index: 4;
    transition: $anim-transition;
    will-change: opacity;
    overflow: auto;
    @media (max-width: 1024px) {
      max-height: calc(100vh - 20px);
    }
    &::-webkit-scrollbar {
      width: 0;
      &-button {
        display: none;
      }
      &-track {
        background: #fff;
      }
      &-thumb {
        background: #fff;
      }
    }
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 50%;
    height: calc(100vh - 40px);
    background: #fff;
    transition: $anim-transition;
    transition-delay: 1s;
    will-change: transform;
    z-index: 3;
    @media (max-width: 1024px) {
      height: calc(100vh - 20px);
    }
  }
  &::before {
    left: 0;
    transform: translateX(-50%) scaleX(0);
  }
  &::after {
    right: 0;
    transform: translateX(50%) scaleX(0);
  }
  &.is-active {
    opacity: 1;
    pointer-events: all;
    transition-delay: 0s;
    .view-box__content {
      transition-delay: 1.5s;
      opacity: 1;
    }
    &::before,
    &::after {
      transition-delay: 0s;
    }
    &::before {
      transform: translateX(0) scaleX(1);
    }
    &::after {
      transform: translateX(0) scaleX(1);
    }
  }
  .close-link {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 24px;
    height: 24px;
    transform: rotate(0deg);
    transition: $slow-transition;
    will-change: transform;
    z-index: 6;
    @media (max-width: 1024px) {
      top: 10px;
      right: 10px;
    }
    .line {
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 2px;
      height: 100%;
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        width: 2px;
        height: 50%;
        background: #000;
        transition: $slow-transition;
        will-change: transform;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      &:first-child {
        transform: rotate(-45deg);
      }
      &:last-child {
        transform: rotate(45deg);
      }
    }
    &:hover {
      .line {
        &::before {
          transform: translateY(-25%);
        }
        &::after {
          transform: translateY(25%);
        }
      }
    }
    &:focus {
      transform: rotate(180deg);
    }
  }
}
.view-profile {
  padding: 0;
  .view-box__content {
    padding: 0;
    overflow: hidden;
    .row {
      display: flex;
      height: 100%;
      .column {
        flex-grow: 1;
        &--left {
          flex-basis: 30%;
          padding: 50px 30px;
          background: $primary-color;
          @media (max-width: 1439px) {
            padding: 40px 20px;
            flex-shrink: 0;
          }
          .box-photo {
            display: flex;
            justify-content: center;
            padding-bottom: 50px;
            border-radius: 50%;
            @media (max-width: 1439px) {
              padding-bottom: 40px;
            }
            &__img {
              width: 250px;
              height: 250px;
              border-radius: 50%;
              overflow: hidden;
              @media (max-width: 1439px) {
                width: 170px;
                height: 170px;
              }
              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
          }
          .box-name {
            padding-bottom: 50px;
            font-size: 2.5rem;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: .5px;
            color: #fff;
            @media (max-width: 1439px) {
              padding-bottom: 40px;
              font-size: 2rem;
            }
          }
          .box-info {
            padding-bottom: 50px;
            @media (max-width: 1439px) {
              padding-bottom: 40px;
            }
            p {
              padding-bottom: 10px;
              font-size: 1.7rem;
              font-weight: 600;
              color: #fff;
              @media (max-width: 1439px) {
                font-size: 1.5rem;
              }
              &:last-child {
                padding-bottom: 0;
              }
            }
          }
          .box-contacts {
            &__link {
              display: flex;
              align-items: center;
              margin-bottom: 20px;
              font-size: 1.5rem;
              line-height: 1;
              font-weight: 600;
              color: #fff;
              &:last-child {
                padding-bottom: 0;
                span {
                  transform: translate(0, 20%);
                }
              }
              span {
                padding-left: 20px;
                transform: translateX(0);
                transition: transform .2s linear;
              }
              i {
                width: 2.285rem;
                font-size: 2.285rem;
                font-weight: 400;
              }
              &:hover {
                span {
                  transform: translateX(10px);
                }
                &:last-child {
                  span {
                    transform: translate(10px, 20%);
                  }
                }
              }
            }
          }
        }
        &--right {
          flex-basis: 70%;
          height: calc(100vh - 40px);
          padding: 50px 60px;
          overflow: auto;
          @media (max-width: 1439px) {
            padding: 40px 30px;
          }
          @media (max-width: 1024px) {
            height: calc(100vh - 20px);
          }
          &::-webkit-scrollbar {
            width: 0;
            &-button {
              display: none;
            }
            &-track {
              background: #fff;
            }
            &-thumb {
              background: #fff;
            }
          }
          .box-title {
            display: flex;
            align-items: center;
            margin-bottom: 3.5rem;
            @media (max-width: 1439px) {
              margin-bottom: 30px;
            }
            &__img {
              width: 100%;
              max-width: 100px;
              @media (max-width: 1439px) {
                max-width: 70px;
              }
              @media (max-width: 767px) {
                max-width: 50px;
              }
              img {
                display: block;
                width: 100%;
              }
            }
            h1 {
              padding-left: 30px;
              line-height: 1;
              text-transform: uppercase;
              @media (max-width: 1439px) {
                padding-left: 20px;
                font-size: 2rem;
              }
              @media (max-width: 767px) {
                font-size: 1.6rem;
              }
            }
          }
          .view-about {
            padding-bottom: 100px;
            @media (max-width: 1439px) {
              padding-bottom: 50px;
            }
            .box-content {
              p {
                padding-bottom: 20px;
                @media (max-width: 1439px) {
                  padding-bottom: 10px;
                  font-size: 1.2rem;
                  line-height: 1.5;
                  font-weight: 400;
                }
                &:last-child {
                  padding-bottom: 0;
                }
              }
            }
          }
          .view-experience {
            padding-bottom: 100px;
            @media (max-width: 1439px) {
              padding-bottom: 50px;
            }
            .experience-list {
              display: flex;
              flex-wrap: wrap;
              margin-top: -10px;
              @media (max-width: 1439px) {
                margin-top: -8px;
              }
              &__item {
                position: relative;
                flex-basis: 50%;
                padding: 5px 15px;
                font-size: 1.714rem;
                line-height: 1.5;
                font-weight: 300;
                @media (max-width: 1439px) {
                  padding: 5px 15px;
                  font-size: 14px;
                  font-weight: 400;
                }
                @media (max-width: 767px) {
                  flex-basis: 100%;
                  border-bottom: 1px dotted #ddd;
                }
                &::before {
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: 0;
                  display: block;
                  width: 6px;
                  height: 6px;
                  border-radius: 50%;
                  background: $primary-color;
                  transform: translateY(-50%);
                }
              }
            }
          }
          .view-professional-skills {
            padding-bottom: 80px;
            @media (max-width: 1439px) {
              padding-bottom: 34px;
            }
            .skills-list {
              display: flex;
              flex-wrap: wrap;
              width: calc(100% + 60px);
              margin-left: -30px;
              &__item {
                flex-basis: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 30px 20px;
                @media (max-width: 1439px) {
                  padding: 0 30px 16px;
                }
                @media (max-width: 767px) {
                  flex-basis: 100%;
                  &:nth-child(odd) {
                    order: 1;
                  }
                  &:nth-child(even) {
                    order: 2;
                  }
                }
                &-title {
                  padding-right: 20px;
                  font-size: 1.5rem;
                  font-weight: 300;
                  @media (max-width: 1439px) {
                    font-size: 14px;
                    font-weight: 400;
                  }
                }
                &-progress {
                  position: relative;
                  width: 50%;
                  height: 15px;
                  border-radius: 10px;
                  border: 1px solid $primary-color;
                  .progress-bar {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    border-radius: 10px;
                    background: $primary-color;
                  }
                }
              }
            }
          }
          .view-language-skills {
            .language-list {
              width: 50%;
              padding-right: 30px;
              @media (max-width: 767px) {
                width: 100%;
                padding-right: 0;
              }
              &__item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 0 20px;
                @media (max-width: 1439px) {
                  padding: 0 0 16px;
                }
                &-title {
                  padding-right: 20px;
                  font-size: 1.5rem;
                  font-weight: 300;
                  @media (max-width: 1439px) {
                    font-size: 14px;
                    font-weight: 400;
                  }
                }
                &-progress {
                  position: relative;
                  width: 50%;
                  height: 15px;
                  border-radius: 10px;
                  border: 1px solid $primary-color;
                  .progress-bar {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    border-radius: 10px;
                    background: $primary-color;
                  }
                }
              }
            }
          }
        }
      }
      @media (max-width: 1024px) {
        width: calc(100vw + 283.21px);
        transform: translateX(-300px);
        transition: $slow-transition;
        .column--left {
          position: relative;
          flex-basis: auto;
          width: 100%;
          max-width: 300px;
          min-width: 300px;
          flex-shrink: 0;
          z-index: 2;
          .box-photo {
            cursor: pointer;
            transform: translate(150px, 100px) scale(.5);
            transition: $default-transition;
            &__img {
              box-shadow: 5px 10px 30px rgba(0, 0, 0, .2);
            }
          }
        }
        .column--right {
          flex-basis: auto;
          flex-shrink: 1;
          padding: 20px 30px;
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0;
            transition: $slow-transition;
          }
          .view-experience {
            .experience-list {
              &__item {
                transition: $default-transition;
                &::before {
                  transition: $default-transition;
                }
                @media (max-width: 767px) {
                  border-bottom: 1px dotted transparent;
                }
              }
            }
          }
        }
        &.is-active {
          transform: translateX(0);
          width: calc(100vw + 283.21px);
          .column--left {
            .box-photo {
              transform: translate(0, 0) scale(1);
              &__img {
                box-shadow: none;
              }
            }
          }
          .column--right {
            overflow: hidden;
            z-index: 1;
            &::before {
              opacity: .6;
            }
            .view-experience {
              .experience-list {
                &__item {
                  &::before {
                    background: $black;
                  }
                  @media (max-width: 767px) {
                    border-bottom: 1px dotted transparent;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.view-projects {
  padding-top: 30px;
  h1 {
    font-family: $main-font;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10px;
    padding-top: 30px;
    &__item {
      flex-basis: 25%;
      padding: 30px;
      @media (min-width: 1025px) and (max-width: 1366px) {
        flex-basis: 33.33%;
      }
      @media (max-width: 1024px) {
        padding: 30px 15px;
      }
      @media (min-width: 768px) and (max-width: 1024px) {
        flex-basis: 50%;
      }
      @media (max-width: 767px) {
        flex-basis: 100%;
      }
      &-title {
        padding-bottom: 30px;
        font-family: $title-font;
        font-size: 1.714rem;
        text-align: center;
        &__desc {
          position: relative;
          display: block;
          margin-bottom: 10px;
          padding: 0 30px;
          font-family: $base-font;
          font-size: 1.2rem;
          color: #777;
          &__number {
            position: absolute;
            top: 50%;
            right: 0;
            display: block;
            font-size: 12px;
            color: #777;
            transform: translateY(-50%);
          }
        }
      }
      &__link {
        position: relative;
        display: block;
        width: 100%;
        height: calc(75vw / 4 - 80px);
        border: 1px solid #ccc;
        overflow: hidden;
        @media (min-width: 1025px) and (max-width: 1366px) {
          height: calc(75vw / 3 - 80px);
        }
        @media (min-width: 768px) and (max-width: 1024px) {
          height: calc(75vw / 2 - 80px);
        }
        @media (max-width: 767px) {
          height: calc(75vw - 80px);
        }
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 1000px;
          height: 1000px;
          border-radius: 50%;
          background: #000;
          opacity: .7;
          transform: translate(-50%, -50%) scale(0);
          will-change: transform;
          transition: $anim-transition;
          z-index: 2;
        }
        &__img {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          z-index: 1;
          transition: $default-transition;
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: $slow-transition;
          }
        }
        &-show {
          position: absolute;
          top: 50%;
          left: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background: #fff;
          font-size: 24px;
          color: #000;
          transform: translate(-50%, -50%) scale(0);
          transition: $slow-transition;
          z-index: 2;
          box-shadow: 0 0 15px rgba(0, 0, 0, .1);
        }
        &-date {
          position: absolute;
          bottom: 0;
          right: 0;
          display: block;
          padding: 5px 15px;
          border-radius: 10px 0 0 0;
          background: #e5e5e5;
          font-weight: 700;
          color: $black;
          font-size: 14px;
          z-index: 3;
        }
        &:hover {
          &::before {
            transform: translate(-50%, -50%) scale(1);
          }
          .view-projects-list__item__link__img {
            filter: blur(1px);
            img {
              transform: scale(1.05);
            }
          }
          .view-projects-list__item__link-show {
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
    }
  }
}