.view-header {
  position: relative;
  width: 100%;
  order: 1;
  z-index: 2;
  transition: $anim-transition;
  transform: translateY(-100%);
  will-change: transform;
  &.is-visible {
    transform: translateY(0);
  }
  &-nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    @media (max-width: 1024px) {
      padding: 20px;
    }
    .profile-link,
    .projects-link {
      position: relative;
      display: block;
      font-family: $main-font;
      font-size: 32px;
      text-transform: capitalize;
      transition: $anim-transition;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        display: block;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        transition: $anim-transition;
        will-change: transform;
      }
      &::before {
        border-left: 2px solid $secondary-color;
        border-right: 2px solid $secondary-color;
        transform: scaleY(0);
      }
      &::after {
        border-top: 2px solid $secondary-color;
        border-bottom: 2px solid $secondary-color;
        transform: scaleX(0);
      }
      span {
        @media (max-width: 767px) {
          display: none;
        }
      }
      &:hover {
        color: $secondary-color;
        &::before {
          transform: scaleY(1);
        }
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}