.view-footer {
  position: relative;
  width: 100%;
  order: 3;
  z-index: 2;
  transform: translateY(100%);
  transition: $anim-transition;
  will-change: transform;
  @media (max-width: 767px) {
    padding-bottom: 26px;
  }
  &.is-visible {
    transform: translateY(0);
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px;
    @media (max-width: 1024px) {
      padding: 20px;
    }
    .box-copyright {
      font-size: 14px;
      color: #ccc;
      &__link {
        font-size: 18px;
        color: #fff;
        &:hover {
          color: $secondary-color;
        }
      }
      &__rights {
        padding-top: 10px;
        letter-spacing: 1.1px;
      }
    }
    .social-list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      &__item {
        &:first-child {
          .social-list__item__link {
            padding-left: 0;
          }
        }
        &__link {
          display: block;
          padding-left: 20px;
          font-size: 24px;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
  .feedback-link {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    font-family: $main-font;
    font-size: 32px;
    text-transform: uppercase;
    transform: translateX(-50%);
    &:hover {
      color: $secondary-color;
    }
  }
}