<footer class="js-footer view-footer">
    <div class="view-footer__content">
        <div class="box-copyright">
            <div>
                &copy; 2018, <a href="/" class="box-copyright__link" target="_blank">INEVIX.biz</a>
            </div>
            <div class="box-copyright__rights">
                All rights reserved
            </div>
        </div>
        <menu class="social-list">
            <li class="social-list__item">
                <a href="mailto:feedback@inevix.biz" class="js-click-link social-list__item__link">
                    <i class="far fa-envelope"></i>
                </a>
            </li>
            <li class="social-list__item">
                <a href="https://t.me/inevix" class="js-click-link social-list__item__link">
                    <i class="fab fa-telegram-plane"></i>
                </a>
            </li>
            <li class="social-list__item">
                <a href="https://www.linkedin.com/in/inevix/" class="js-click-link social-list__item__link" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </menu>
    </div>
</footer>
<form class="js-feedback-form js-form feedback-form" data-validation="true">
    <div class="feedback-form__field">
        <div class="js-form-holder control-holder">
            <label for="user_name" class="js-input-placeholder feedback-form__field__label">
                Name<span class="hide-span"><span class="require">*</span>:</span>
            </label>
            <input name="user_name" id="user_name" type="text" class="js-has-placeholder js-input form-control" data-require="name"/>
        </div>
    </div>
    <div class="feedback-form__field feedback-form__field--email">
        <div class="js-form-holder control-holder">
            <label for="user_email" class="js-input-placeholder feedback-form__field__label">
                E-mail<span class="hide-span"><span class="require">*</span>:</span>
            </label>
            <input name="user_email" id="user_email" type="text" class="js-has-placeholder js-input form-control" data-require="email"/>
        </div>
    </div>
    <div class="feedback-form__field">
        <div class="js-form-holder control-holder">
            <label for="user_message" class="feedback-form__field__label feedback-form__field__label--for-textarea">
                Message<span class="hide-span"><span class="require">*</span>:</span>
            </label>
            <textarea name="user_message" id="user_message" class="js-input form-control form-control--textarea" placeholder="Text message..." data-require="message"></textarea>
        </div>
    </div>
    <div class="feedback-form__field">
        <span class="form-helper">
            <span class="require">*</span> - required fields
        </span>
    </div>
    <div class="feedback-form__field">
        <button class="js-click-link js-submit button">
            Send
        </button>
    </div>
</form>