<header class="js-header view-header">
    <nav class="view-header-nav">
        <a href="#" class="js-toggle-boxes js-open-profile js-click-link profile-link">
            <span>Show</span> profile
        </a>
        <a href="#" class="js-toggle-boxes js-open-projects js-click-link projects-link">
            Projects <span>list</span>
        </a>
    </nav>
</header>