.feedback-form {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  max-width: 300px;
  transform: translate(-50%, -50%) scale(0);
  transition: $anim-transition;
  will-change: transform;
  z-index: 3;
  @media (max-width: 767px) {
    top: 0;
    transform: translate(-50%, 0) scaleY(0);
  }
  &.is-active {
    @media (max-width: 767px) {
      transform: translate(-50%, 0) scaleY(1);
    }
  }
  &__field {
    width: 100%;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
    &--email {
      margin-bottom: 50px;
      @media (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &__label {
      position: absolute;
      top: 50%;
      left: 10px;
      display: block;
      width: 100%;
      font-family: $base-font;
      font-size: 24px;
      line-height: 50px;
      color: #fff;
      pointer-events: none;
      transform: translateY(-30%);
      transition: $default-transition;
      will-change: transform;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 36px;
      }
      .hide-span {
        font-size: 14px;
        opacity: 0;
        transition: $default-transition;
        will-change: opacity;
        @media (max-width: 767px) {
          font-size: 12px;
          color: transparent;
        }
        .require {
          padding: 0 2px;
          color: $secondary-color;
          opacity: 1;
        }
      }
      &--for-textarea {
        top: 0;
        left: 0;
        font-size: 14px;
        line-height: 1;
        transform: translateY(0);
        @media (max-width: 767px) {
          top: -5px;
        }
        .hide-span {
          opacity: 1;
        }
      }
      &.is-active {
        top: 0;
        left: 0;
        font-size: 14px;
        line-height: 1;
        transform: translateY(0);
        @media (max-width: 767px) {
          top: 50%;
          left: auto;
          right: 0;
          width: auto;
        }
        .hide-span {
          opacity: 1;
        }
      }
    }
    .control-holder {
      position: relative;
      width: 100%;
      padding-top: 25px;
      @media (max-width: 767px) {
        padding-top: 20px;
      }
      .has-error {
        position: absolute;
        bottom: 1px;
        right: 0;
        display: block;
        padding: 5px 10px;
        border-radius: 0 0 5px 5px;
        background: #fff;
        font-size: 14px;
        color: $black;
        transform: translateY(100%);
        @media (max-width: 767px) {
          font-size: 12px;
        }
      }
      .form-control {
        display: block;
        width: 100%;
        height: 50px;
        padding: 0 10px;
        border: none;
        background: none;
        border-bottom: 2px solid #fff;
        font-family: $base-font;
        font-size: 24px;
        line-height: 50px;
        color: #fff;
        @media (max-width: 767px) {
          height: 36px;
          padding-right: 65px;
          font-size: 14px;
          line-height: 36px;
        }
        &--textarea {
          height: 150px;
          padding: 10px;
          border: 2px solid #fff;
          font-size: 14px;
          line-height: 1.2;
          resize: none;
          @media (max-width: 767px) {
            height: 50px;
          }
          &::-webkit-scrollbar {
            width: 4px;
            &-track {
              background: transparent;
            }
            &-button {
              display: none;
            }
            &-thumb {
              width: 4px;
              background: #fff;
            }
          }
        }
      }
    }
    .button {
      position: relative;
      display: block;
      width: 100%;
      height: 60px;
      line-height: 60px;
      border: none;
      font-family: $main-font;
      font-size: 32px;
      text-transform: capitalize;
      color: #fff;
      transition: $anim-transition;
      overflow: visible;
      @media (max-width: 767px) {
        width: 50%;
        height: 40px;
        margin: 0 auto;
        font-size: 20px;
        line-height: 40px;
      }
      &.is-disabled {
        color: #999;
        pointer-events: none;
      }
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        transition: $anim-transition;
        will-change: transform;
      }
      &::before {
        border-left: 2px solid $secondary-color;
        border-right: 2px solid $secondary-color;
        transform: scaleY(0);
      }
      &::after {
        border-top: 2px solid $secondary-color;
        border-bottom: 2px solid $secondary-color;
        transform: scaleX(0);
      }
      &.is-visible {
        transform: translateX(0);
      }
      &:hover {
        color: $secondary-color;
        &::before {
          transform: scaleY(1);
        }
        &::after {
          transform: scaleX(1);
        }
      }
    }
    .form-helper {
      color: #fff;
      @media (max-width: 767px) {
        display: block;
        margin-bottom: 10px;
        padding-top: 5px;
      }
      .require {
        color: $secondary-color;
      }
    }
  }
}